* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #f5f7fa;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 20px;
    padding-left: 20px;
    font-family: Montserrat;
}

.wrapper {
    background: #fff;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.sidebar {
    background: #1e2939;
    width: 370px;
    padding-bottom: 40px;
}

.my-photo {
    width: 220px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.about-me-container {
    padding: 50px;
}

.contacts-container {
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 40px;
}

.contacts-container-item +
.contacts-container-item {
    margin-top: 10px;
}

.contacts-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 20px;
}

.contacts-link {
    display: flex;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #ffffff;
    text-decoration: none;
}

.contacts-link:hover {
    color:rgb(255, 153, 0);
}

.contacts-link-type {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
    margin-right: 10px;
}

.phone, .linkedin,
.github, .envelope {
    margin-right: 10px;
}

.tech-skills-title,
.soft-skils-title,
.language-skils-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 20px;
}

.tech-skills-container,
.soft-skils-container,
.language-skils-container {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 55px;
}

.tech-skills-item,
.soft-skils-item,
.language-skils-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 15px;
    color: #ff6b08;
}

.tech-skills-text,
.soft-skils-text,
.language-skils-text {
    color: #ffffff;
}

.profesion {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
}

.name {
    font-size: 45px;
    font-weight: 700;
    line-height: 89px;
}

.description {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.container + .container {
    margin-top: 40px;
}

.about-me-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
}

.projects-link {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #595959;
}

.projects-link:hover {
    color: rgb(38, 5, 185);
}

.tech-name {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #595959;
}

.dots {
    color: #bebebe;
    font-weight: 100; 
}

.projects-item {
    font-weight: 700;
    margin-left: 17px;
}

.projects-container {
    margin-bottom: 55px;
}

.projects-items {
    list-style: none;
}

.projects-items + .projects-items{
    margin-top: 15px;
}

.project-title {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
}

.info-project {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    color: #ff6b08;
}

.profession-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 15px;
    margin-top: 10px;
}

.profession-compani {
    color: #ff6b08;
}

.proffesion-time {
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    color: #a8a8a8;
}

.profession-divider {
    color: #000000;
}

.education-title {
    color: #000000;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 23px;
}

.name-university {
    color: #ff6b08;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.about-my-education {
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.education-container + 
.education-container {
    margin-top: 20px;
}

.education-time {
    color: #a8a8a8;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
}

.education-divider {
    color: #000000;
}
